.feedback-container{
    width: 600px;
    background-color: #e2e8f0;
    padding: 20px;
    margin:10px ;
    border-radius: 8px;
}
.feedback-container .feedback-content h4{
    margin-bottom: 6px;
}
.feedback-container .feedback-content hr{
    border: 1px solid #94a3b8;
    margin: 10px;
}
.feedback-content .feedback{
    color: #4b5563;
}
.feedback-content .name{
    font-weight: 600;
}