.feedback-form-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 60px;
}
.feedback-form-container h2{
    color: tomato;
    font-weight: 600;
    font-size: 35px;

}
.feedback-form{
    min-height:100% ;
    min-width: 100%;
    display: flex;
    justify-content: center;

}
.feedback-form form{
    margin: 20px;
}
.feedback-form form div{
    margin: 20px 0px;
}
.feedback-form form div input{
    width: 400px;
    padding: 8px 6px;
    background-color: #e2e8f0;
    outline: none;
    border: none;
    font-size: 16px;
}
.feedback-form form div textarea{
    width: 400px;
    padding: 8px 6px;
    background-color: #e2e8f0;
    outline: none;
    border: none;
    font-size: 16px;
}

.feedback-form form div button{
    width: 400px;
    padding: 8px 6px;
    background-color: tomato;
    font-weight: 600;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.feedback-form form div button:hover{
background-color: black;
color: tomato;
transition: 0.5s;
}